body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background-color: white; }
  .navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background-color: #3292a6;
  color: #fff; }
#authors .fab {
  color: #fff; }

  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-left: #444 3px solid;
  }
  
  .carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../img/image1.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../img/image2.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../img/image3.jpg');
    background-size: cover;
  }












@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
